.container{
    width: 950px;
    background-color: silver;
    margin: 10px 10px 10px 10px auto;
    padding: 1%;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin: 1%;
    display: flex;

}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin-bottom: 1%;
    margin-left: 1%;

}
.main {
    height: 380px;
    width: 720px;
    background-color: red;
    margin-left: 1%;
    margin-bottom: 1%;
    display: flex;
    margin-top: 1%;
}
.sub-content {
    height: 100px;
    width: 100px;
    background-color: yellow;
    margin: 10px;
    padding-left: 10%;
    padding-bottom: 10%;
    margin-left: 10px;
    width: 20%;


}
#advertisement {
    height: 140px;
    width: 686px;
    background-color: purple;
    display: flex;
    margin-left: 2%;
    margin-top: 60px 60px 60px 60px;
}
.side-nav, .main {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1%;
}



.row {
    display: flex;
}

