/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
      
  /* Clase fixed-width container que se "autocentrará" a sí misma */
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  .row{
    display: flex;
}
.col{
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: greenyellow;
}
.col-2{
    flex: 2;
    padding: 20px;
    margin: 10px;
    background-color: greenyellow;
}
.col-3{
    flex: 3;
    padding: 20px;
    margin: 10px;
    background-color: greenyellow;
} 
.button-3{
    font-family: sans-serif;
    background-color: rgb(35, 46, 248);
    color:white;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-left: 70px;
    margin-bottom: 80px;
    margin-right: 80px;
    border-color: rgb(0, 0, 0);
    box-shadow: 5px 5px rgb(0, 0, 0);

    
}
ul {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; 
    padding-top: 1em;
}

li {
    display: inline;
    margin: 10px 10px 10px 10px;
    padding-top: 1em;
}

.main{

    background-color: black;
    margin-bottom: -90px;
    color: rgb(111, 0, 255);
}

a{

    color: rgb(162, 0, 255);
}

.nav{

    border-radius: linear-gradient(#ff0000 0%, #ff0000 100%) 3px;
    background-color: darkgrey;
}
h1{
    color: black;

}
    